<h2 class="ui grey header">
  <div class="content">
    Do you know your movies?
  </div>
</h2>
<form class="ui form">
  <div class="field">
    <input type="text" name="book-name" placeholder="Enter A Book Name" #bookName>
  </div>
  <button class="ui button primary" (click)="getBookDetails(bookName.value)" type="submit">Search</button>
</form>
<div *ngIf = "bookData" class="ui raised segment">
  <h3 *ngIf= "bookData">Book: {{bookData.items[0].volumeInfo.title}}</h3>
  <img *ngIf= "bookData"  src ="{{bookData.items[0].volumeInfo.imageLinks.thumbnail}}">
</div>
